*{
    margin: 4px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

.menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo a{
    text-decoration: none;
    color: rgb(49, 245, 10);
    font-size: 30px;
    font-weight: 700;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
  }
.menu ul li a{
    text-decoration: none;
    color: rgb(14, 12, 12);
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
}
/*----------------------------------*/
.container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
  
.centertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.centertext1 {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-60%, -60%);
    font-size: 24px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clear {
    clear: both;
}

.container1 {
    width: fullwidth;
    padding: 10px;
}

.hinh-anh {
    width: 660px;
    height: 300px;
    float: left;
    padding-left: 250px;
}

.thong-tin {
    width: 300px;
    height: 150px;
    float: right;
    margin-right: 420px;
}
