* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vertical-menu {
    display: flex;
    position: relative;
}

.vertical-menu .menu {
    position: fixed;
    width: 220px;
    height: 100%;
    padding: 15px;
    background-color: rgba(29, 91, 184, 0.925);
}

.vertical-menu .menu h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(153, 149, 149);
}

.vertical-menu .menu ul li {
    padding: 30px;
    color: rgba(255, 255, 255, 0.842);
    border-bottom: 3px solid rgb(153, 149, 149);
}

.fa-angle-right {
    margin-left: 12px;
}

/*Thanh search*/
.search {
    margin-top: 6px;
    position: relative;
    width: 300px;
    padding: 4px;
    margin-left: 230px;
    border: 3px solid rgba(29, 91, 184, 0.925);
    padding: 10px;
    border-radius: 40px;
    font-size: 15px;
}

.search [type="text"] {
    width: 90%;
    height: 100%;
}

.fa-magnifying-glass {
    font-size: 17px;
    color: rgba(29, 91, 184, 0.925);
}

[type="text"] {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.search :focus {
    outline: none;
}

.thanh-tren {
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.nofi-mail-user {
    float: left;
    position:fixed;
    width: 50%;
    height: auto;
    top: 2.5%;
    left: 50%;
    background-color: rgb(255, 255, 255);
}

.fa-bell {
    margin-left: 400px;
    font-size: 25px;
    color: rgba(14, 8, 8, 0.26);
}

.fa-envelope {
    margin-left: 70px;
    font-size: 25px;
    color: rgba(14, 8, 8, 0.26);   
}

.user {
    position: absolute;
    margin-left: 600px;
    top: 8px;
    color: rgba(14, 8, 8, 0.658); 
    font-size: 17px;  
}

.fa-circle-user {
    position: relative;
    top: -26px;
    margin-left: 720px;
    color: rgba(14, 8, 8, 0.658); 
    font-size: 30px;  
}

.title-table-1 {
    background-color: rgb(255, 255, 255);
    width: max-height;
    height: max-height;
    font-size: 17px;
    text-indent: 235px;
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.822);
}

/*---Table---*/
.title-table-1 h2 {
    padding: 0;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline 4px rgba(29, 91, 184, 0.925);
}

.title-table-2 {
    background-color: rgba(128, 128, 128, 0.171);
    border: 3px solid rgba(29, 91, 184, 0.925);
    border-radius: 15px;
    width: 1250px;
    height: 678px;
    margin-left: 235px;
    margin-top: 25px;
    padding: 12px;
}

.title-table-2 p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0);
    text-decoration: underline 2px blue;
    width: 150px;
    height: 30px;
    font-size: 16px;
}

.title-table-2 .show {
    margin-right: 2px;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.title-table-2 .entries {
    position: relative;
    margin-left: 82px;
    top: -20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 17px;
}

.main-table {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-collapse: collapse;
    width: 100%;
    height: 70%;
    border: 1px solid rgb(1, 7, 3);
    padding: 8px;
    background-color: #f7f2f2;
    font-size: 18px;
}

.main-table td, .main-table th {
    border: 2px solid rgba(29, 91, 184, 0.925);
    padding: 10px;
}

.main-table th {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(29, 91, 184, 0.363);
}

.main-table td {
    text-decoration: underline 2px blue ;
}
